BODY {MARGIN: 0px; BACKGROUND-COLOR: #008080;  font-family: Verdana,Helvetica; font-size: 11px; color: #000000; font-weight: normal; text-decoration: none}

img.imgc {
	border: 0; vertical-align: top;
}

img.imgt {
	border: 0; vertical-align: middle;
}

.BF1 {BACKGROUND-COLOR: #F0F0F0;}
.BF2 {BACKGROUND-COLOR: #FFFFFF;}

.SHT {BACKGROUND-COLOR: #F2F2F2;}
.SHD {BACKGROUND-COLOR: #E6E6E6;}

DIV.dlink {  PADDING-TOP: 4px; PADDING-BOTTOM: 6px;}
DIV.flink { FLOAT: left; PADDING-top: 4px; PADDING-right: 4px; PADDING-BOTTOM: 6px;}
DIV.sep { FLOAT: left; margin-left:0px; PADDING-top: 4px; PADDING-BOTTOM: 6px; }

.FonU {BACKGROUND-COLOR: #FFFFFF;}
.FonS {BACKGROUND-COLOR: #E3E3E3;}
img{border-style:none;}
.wcap {CURSOR: default; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 11px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma,verdana;}
.wcaptxt {FONT-SIZE: 11px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma,verdana;}

.BAR {BORDER-RIGHT: #848284 1px solid; BORDER-TOP: #F2F1F0 1px solid; BORDER-BOTTOM: #848284 1px solid; BORDER-LEFT: #F2F1F0 1px solid;}
.B_L {BORDER-LEFT: #CCCCCC 1px solid;}
.B_B {BORDER-BOTTOM: #CCCCCC 1px solid;}
.B_T {BORDER-TOP: #CCCCCC 1px solid;}
.B_R {BORDER-RIGHT: #CCCCCC 1px solid;}

.F_L {BORDER-LEFT: #FFFFFF 1px solid;}
.F_B {BORDER-BOTTOM: #666666 1px solid;}
.F_T {BORDER-TOP: #FFFFFF 1px solid;}
.F_R {BORDER-RIGHT: #666666 1px solid;}

.SHD {BACKGROUND-COLOR: #E6E6E6;}

.wind_out {
background-color: #CCCCCC;
border-left: 1px  #F2F1F0 solid;
border-top: 1px  #F2F1F0 solid;
border-right: 1px  #848284 solid;
border-bottom: 1px  #848284 solid;
FONT-SIZE: 12px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma;
}

.wind_border {background-color: #CCCCCC;
border-left: 1px  #CCCCCC solid;
border-top: 1px  #CCCCCC solid;
border-right: 1px  #000000 solid;
border-bottom: 1px  #000000 solid;}

.wind_border2 {background-color: #CCCCCC;
border-left: 1px  #FFFFFF solid;
border-top: 1px  #FFFFFF solid;
border-right: 1px  #666666 solid;
border-bottom: 1px  #666666 solid;}

.wind_in {
background-color: #CCCCCC;
border-right: 1px  #FFFFFF solid;
border-bottom: 1px  #FFFFFF solid;
border-left: 1px  #666666 solid;
border-top: 1px  #666666 solid;
FONT-SIZE: 12px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma;
}

.wind_border_hide {
border-right: 1px  #CCCCCC solid;
border-bottom: 1px  #CCCCCC solid;
border-left: 1px  #CCCCCC solid;
border-top: 1px  #CCCCCC solid;
}

.wind_cont {
background-color: #FFFFFF;
border-right: 1px  #F2F1F0 solid;
border-bottom: 1px  #F2F1F0 solid;
border-left: 1px  #848284 solid;
border-top: 1px  #848284 solid;
FONT-SIZE: 12px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma;
}

.wind_cont_dark {
background-color: #CCCCCC;
border: 0px;
FONT-SIZE: 11px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma;
}

.wind_capt {
background-color: #000080;
border: 0px; FONT-WEIGHT: bold;
FONT-SIZE: 11px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma;
color: #FFFFFF;
CURSOR: default; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-RIGHT: 1px;
}

.wind_statusbar{
background-color: #CCCCCC;
border-right: 1px  #FFFFFF solid;
border-bottom: 1px  #FFFFFF solid;
border-left: 1px  #666666 solid;
border-top: 1px  #666666 solid;
FONT-SIZE: 11px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma;
CURSOR: default; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; PADDING-RIGHT: 2px;
}

.wind_capt_button {
background-color: #CCCCCC;
border-left: 1px  #F2F1F0 solid;
border-top: 1px  #F2F1F0 solid;
border-right: 1px  #848284 solid;
border-bottom: 1px  #848284 solid;
FONT-SIZE: 6px; COLOR: #1D1D1D; FONT-FAMILY: tahoma;
width: 13px; height: 11px;
}

.wtackbar_button {
background-color: #CCCCCC;
CURSOR: default; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-RIGHT: 4px;
FONT-SIZE: 11px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma;
}
.wtackbar_button_ico {
	margin:0px; margin-left:4px; border:0
}

.speedbutton { 
/* background: #FFFFFF url(img/toolbar_link_ico.gif); */
background-repeat: no-repeat;
background-position: 4px 50%;
background-color: #CCCCCC;
border-left: 1px  #CCCCCC solid;
border-top: 1px  #CCCCCC solid;
border-right: 1px  #CCCCCC solid;
border-bottom: 1px  #CCCCCC solid;
FONT-FAMILY: Tahoma; FONT-SIZE: 11px; COLOR: #1D1D1D;
}

.speedbutton A {DISPLAY: block;   
/* background: #FFFFFF url(img/toolbar_link_ico.gif); */
background-repeat: no-repeat;
background-position: 4px 50%;
background-color: #CCCCCC;
border-left: 1px  #CCCCCC solid;
border-top: 1px  #CCCCCC solid;
border-right: 1px  #CCCCCC solid;
border-bottom: 1px  #CCCCCC solid;

PADDING-LEFT: 24px; PADDING-RIGHT: 4px; PADDING-TOP: 3px; PADDING-BOTTOM: 3px;
FONT-SIZE: 11px; TEXT-DECORATION: none; BACKGROUND-COLOR: #CCCCCC; COLOR: #1D1D1D;

}
.speedbutton A:hover { 
DISPLAY: block;
/* background: #FFFFFF url(img/toolbar_link_ico.gif); */
background-repeat: no-repeat;
background-position: 4px 50%;
background-color: #CCCCCC;
border-left: 1px  #FFFFFF solid;
border-top: 1px  #FFFFFF solid;
border-right: 1px  #666666 solid;
border-bottom: 1px  #666666 solid;
 
PADDING-LEFT: 24px; PADDING-RIGHT: 4px; PADDING-TOP: 3px; PADDING-BOTTOM: 3px;

FONT-SIZE: 11px; TEXT-DECORATION: none; COLOR: #1D1D1D;
}

.speedbutton A:visited,
.speedbutton A:active,
.speedbutton A:link {COLOR: #1D1D1D;}

.toolbutton {
border-left: 1px  #CCCCCC solid;
border-top: 1px  #CCCCCC solid;
border-right: 1px  #CCCCCC solid;
border-bottom: 1px  #CCCCCC solid;
PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 24px; PADDING-BOTTOM: 3px;
margin-bottom: 3px;
FONT-SIZE: 11px; TEXT-DECORATION: none; BACKGROUND-COLOR: #CCCCCC; COLOR: #1D1D1D;
}

.toolbutton A {DISPLAY: block;   
border-left: 1px  #CCCCCC solid;
border-top: 1px  #CCCCCC solid;
border-right: 1px  #CCCCCC solid;
border-bottom: 1px  #CCCCCC solid;
PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 24px; PADDING-BOTTOM: 3px;
FONT-SIZE: 11px; TEXT-DECORATION: none; BACKGROUND-COLOR: #CCCCCC; COLOR: #1D1D1D;
}
.toolbutton A:hover { 
DISPLAY: block;
background-color: #CCCCCC;
border-left: 1px  #FFFFFF solid;
border-top: 1px  #FFFFFF solid;
border-right: 1px  #666666 solid;
border-bottom: 1px  #666666 solid;

PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 24px; PADDING-BOTTOM: 3px;
FONT-SIZE: 11px; TEXT-DECORATION: none; COLOR: #1D1D1D;
}

.toolbutton A:visited,
.toolbutton A:active,
.toolbutton A:link {COLOR: #1D1D1D;}

.wcb { PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; PADDING-BOTTOM: 0px; BACKGROUND: #CCCCCC; FONT-FAMILY: Tahoma; FONT-SIZE: 8px; COLOR: #1D1D1D;}
.wcb A { WIDTH:100%; DISPLAY: block; FONT-SIZE: 8px; TEXT-DECORATION: none; COLOR: #1D1D1D;}
.wcb A:hover { DISPLAY: block;  BACKGROUND-COLOR: #DDDDDD; FONT-SIZE: 8px; TEXT-DECORATION: none; COLOR: #1D1D1D;}
.wcb A:visited {COLOR: #1D1D1D;}

.no_border {border: 0px;}


.FCItools {PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-RIGHT: 0px;}
.FCItools2 {PADDING-TOP: 23px;}
.FCItools3 {PADDING-BOTTOM: 2px; PADDING-TOP: 2px;}
.FCIL {PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-RIGHT: 0px;}

.FTCG {CURSOR: default; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Tahoma;}

.FTC {CURSOR: default; FONT-SIZE: 11px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma;}
.FCI {PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-RIGHT: 4px;}
.FCIA {PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px; PADDING-RIGHT: 10px;}
.FCD {BACKGROUND-COLOR: #CCCCCC;}
.FCL {BACKGROUND-COLOR: #FFFFFF;}


A:link {COLOR: #1717CA; TEXT-DECORATION: none;}
A:active {COLOR: #1717CA; TEXT-DECORATION: none;}
A:visited {COLOR: #1717CA; TEXT-DECORATION: none;}
A:hover {COLOR: #0000EE; TEXT-DECORATION: underline;}

A.bk:link {COLOR: #1D1D1D; TEXT-DECORATION: none;}
A.bk:active {COLOR: #1D1D1D; TEXT-DECORATION: none;}
A.bk:visited {COLOR: #1D1D1D; TEXT-DECORATION: none;}
A.bk:hover {COLOR: #0000EE; TEXT-DECORATION: underline;}

A.blk:link {COLOR: #99282C; TEXT-DECORATION: none;}
A.blk:active {COLOR: #99282C; TEXT-DECORATION: none;}
A.blk:visited {COLOR: #99282C; TEXT-DECORATION: none;}
A.blk:hover {COLOR: #BF0F13; TEXT-DECORATION: underline;}

A.dt {COLOR: #FFFFFF; TEXT-DECORATION: none;}
A.dt:link {COLOR: #FFFFFF; TEXT-DECORATION: none;}
A.dt:active {COLOR: #FFFFFF; TEXT-DECORATION: none;}
A.dt:visited {COLOR: #FFFFFF; TEXT-DECORATION: none;}
A.dt:hover {COLOR: #FFFFFF; TEXT-DECORATION: underline;}

.Combobox {BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; FONT: 8pt Tahoma; BORDER-LEFT: #bbbbbb 1px solid; COLOR: #1D1D1D; BORDER-BOTTOM: #bbbbbb 1px solid}

.textbox	{
	font-family:Verdana,Tahoma,Arial,Sans-Serif; 
	font-size:11px; 
	color:#000000;
	background-color:#FFFFFF;
	border:1px #8A8573 solid;
}

.button {
	font-family: Tahoma,Arial,Sans-Serif; 
	font-size:11px; 
	color:#000000;
	background-color: #CCCCCC;
	border-left: 1px  #FFFFFF solid;
	border-top: 1px  #FFFFFF solid;
	border-right: 1px  #666666 solid;
	border-bottom: 1px  #666666 solid;

	margin-top:2px;
	padding: 2px 3px 2px 3px;
}

.button_s {
	font-family: Tahoma,Arial,Sans-Serif; 
	font-size:11px; 
	color:#000000;
	background-color: #CCCCCC;
	border-left: 1px  #FFFFFF solid;
	border-top: 1px  #FFFFFF solid;
	border-right: 1px  #666666 solid;
	border-bottom: 1px  #666666 solid;

	margin-left:4px;
	padding: 0px 2px 0px 2px;
}

.shil {
	/* background: #FFFFFF url(img/back.gif);  */
	background-repeat: repeat;
}

.wind_clock {
cursor: default;
border: 0px;
}

.bevel_out {DISPLAY: block; BORDER-BOTTOM: #666666 1px solid; border-top: 1px  #FFFFFF solid;}
.bevel_in {DISPLAY: block; BORDER-BOTTOM: #FFFFFF 1px solid; border-top: 1px  #666666 solid;}

.sidebar_top {
/* background: #FFFFFF url(img/side_bar_top_back.JPG); */
background-repeat: no-repeat;
}

.sidebar_ico {
	margin:0px; margin-left:12px; border:0
}
.sidebar_caption {FONT-SIZE: 22px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma,verdana; padding-left:12px; padding-right:8px;}
.sidebar_caption_m {FONT-SIZE: 18px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma,verdana; padding-left:12px; padding-right:8px;}

.fpageend,
.fpage{background:#E1E1E1;
	border: 0px solid #000;
	padding: 0px 3px 0px 3px;
	border: 1px solid #C5C5C5;
	FONT-SIZE: 10px;
	FONT-FAMILY: Tahoma;
	margin: 0 2px 0 0;}
.fpageend{
	background: #E6E6E6;
}
.fpageend a:active,
.fpageend a:visited,
.fpageend a:link,
.fpage a:active,
.fpage a:visited,
.fpage a:link{text-decoration: none;}

.SP {BORDER-RIGHT: #A7A7A7 1px solid; BORDER-TOP: #A7A7A7 1px solid; BORDER-BOTTOM: #A7A7A7 1px solid; BORDER-LEFT: #A7A7A7 1px solid;}


/* SpeedButton CSS */
a.sb img {
	cursor: default;
	margin-top: 1px;
	margin-left: 1px;
}
a.sb img, a.sb:visited img {
	border: 1px solid #848284 !important;
}
a.sb:hover img {
	border: 1px solid #0A246A !important;
	cursor: default;
	background-color: #B6BDD2;
}
* html a.sb:hover {
	background-color: #B6BDD2;
}

/* TackBarFastButton CSS */
a.tbfb img, a.tbfb:visited img {
	
	margin-left: 1px;
	border-left: 1px  #CCCCCC solid;
	border-top: 1px  #CCCCCC solid;
	border-right: 1px  #CCCCCC solid;
	border-bottom: 1px  #CCCCCC solid;
	padding: 1px;
}

a.tbfb:hover img {
	border-left: 1px  #FFFFFF solid !important;
	border-top: 1px  #FFFFFF solid !important;
	border-right: 1px  #666666 solid !important;
	border-bottom: 1px  #666666 solid !important;
	
}


a.vs img {
	background-color: #B6BDD2;
}
* html a.vs {
	background-color: #B6BDD2;
}

.hh {CURSOR: default; BACKGROUND-COLOR: #FAFAE4; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-RIGHT: 4px; FONT-SIZE: 11px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma;}
.hg {CURSOR: default; BACKGROUND-COLOR: #797979; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-RIGHT: 2px; FONT-SIZE: 11px; COLOR: #FFFFFF; FONT-FAMILY: Tahoma;}
.hb {BORDER-RIGHT: #1D1D1D 1px solid; BORDER-TOP: #1D1D1D 1px solid; BORDER-BOTTOM: #1D1D1D 1px solid; BORDER-LEFT: #1D1D1D 1px solid;}
.hr {CURSOR: default; BORDER-TOP: #1D1D1D 1px solid; FONT-SIZE: 10px; COLOR: #1D1D1D; FONT-FAMILY: Tahoma;}

.quote {BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BORDER-LEFT: #666666 1px solid;}
.quoteb {background-color: #FAF2DA}
.quote_in {DISPLAY: block; border-top: 1px  #666666 solid;}
.quoteFTC {CURSOR: default; FONT-SIZE: 10px; COLOR: #1D1D1D; FONT-FAMILY: verdana,Tahoma;}
.quoteFCI {PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; PADDING-RIGHT: 4px;}

.code {BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; BORDER-LEFT: #666666 1px solid;}
.codeb {background-color: #F7FBF8}
.code_in {DISPLAY: block; border-top: 1px  #666666 solid;}
.codeFTC {CURSOR: default; FONT-SIZE: 12px; COLOR: #1D1D1D; FONT-FAMILY: Courier,verdana,Tahoma;}
.codeFCI {PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; PADDING-RIGHT: 4px;}

.offtop {BORDER-RIGHT: #A6A6A6 1px solid; BORDER-TOP: #A6A6A6 1px solid; BORDER-BOTTOM: #A6A6A6 1px solid; BORDER-LEFT: #A6A6A6 1px solid;}
.offtopb {background-color: #E9E9E9}
.offtopFTC {CURSOR: default; FONT-SIZE: 10px; COLOR: #5F5F5F; FONT-FAMILY: verdana,Tahoma;}
.offtopFCI {PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-RIGHT: 4px;}


BODY {
    CURSOR: default;
}

img {
    border: 0;
    vertical-align: middle;
}

.no_border {
    border: 0px;
}

.nw {
    white-space: nowrap;
}

.thc {
    CURSOR: pointer;
}

* HTML .thc {
    cursor: hand;
    cursor: pointer;
}

.bevel_space {
    DISPLAY: block;
    border-top: 1px #CCCCCC solid;
}

.st_btn a:hover,
.st_btn a:active,
.st_btn a:hover,
.st_btn a:active {
    TEXT-DECORATION: none;
    COLOR: #1D1D1D;
}

.progress_bar {
    /* BACKGROUND-IMAGE: url(img/progress_ch.gif); */
    background-repeat: repeat-x;
}

.findb {
    DISPLAY: block;
    /* BACKGROUND-IMAGE: url(img/b_ser.gif); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 2px;
}

.DRKBFTC {
    CURSOR: default;
    FONT-SIZE: 12px;
    COLOR: #1D1D1D;
    FONT-FAMILY: Verdana, Tahoma;
}

.wind_capt2 {
    /* BACKGROUND-IMAGE: url(img/capt_snow.gif); */
}

